* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.backgroundimage {
  /* background-image: url("./components/Navbar/image.jpg") no-repeat center center fixed; */
  background-size: cover;
  height: 100%;
  overflow: hidden;
}